body {
    background-color: #dbd5cf;
    border-top-width: 5cm;
}
h1{
    color: #025157;
    text-align: center;
}
p{
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}
button{
    color: #fff;
    background-color: #025157;
    border: 3pt solid #19db2a ;
}
input{
    font-style: italic;
    font-family: 'Gill Sans';
    background-color: aqua;
    border: 3pt solid #db197a;
}
form{
    background-color: white;
}